shapee_crawler.py
*.CSV
*.html

# Python
__pycache__/
*.py[cod]
*.so

# Jupyter Notebook
.ipynb_checkpoints

# VSCode
.vscode/

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.*

error_report_*.txt
clean_decimal_report_*.csv
fix_decreasing_report_*.csv
sales_changes_analysis_*.csv
*_商品資料.csv
preprocess_v2
preprocess_v3
/Model/load_training
/Model/outputs
/Model/analysis_outputs
/Model/embeddings/outputs
/Model/embeddings/train_output
/Model/embeddings/analysis_outputs
/Model/findbest
